<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Registration</title>
<script type="text/javascript" src="angular.min.js" >  </script>
<script type="text/javascript" src="jquery-1.11.3.min.js" >  </script>
<script type="text/javascript" src="appController.js" >  </script>

<!-- bootstrap imports -->



<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<!-- Add css with bootstrap -->
<link type="text/css" rel="stylesheet"  href="css/bootstrap.min.css">
<!--<link type="text/css" rel="stylesheet"  href="css/custom.css">-->
<link href="css/index.css" rel='stylesheet' type='text/css'/>


</head>
<body>

	

	<div ng-app="funItaly" ng-controller="regCont">
	
	
		<div class="container-fluid" > 
		
		  <div class="col-xs-4">  
			 <div class="wrap"> 
				 
				 <br>
				 <br>
				 
				 <img src="images/logo.png" alt="FunItaly" height=100% width=100%>
				 <br>
				 <br>
				 <label> Registration:  </label>
				 <br>
				 <br>
				 <label> Username:  </label>
				 <input ng-model="username" type="text" id="userReg">
				 <mark>{{userErr}}</mark>
				 <br>
				 <br>
				 <label> Password:  </label>
				 <input ng-model="password" type="text" id="passReg">
				 <mark>{{passErr}}</mark>
				 <br>
				 <br>
				 <label> Nickname:  </label>
				 <input ng-model="nickname" type="text" id="nickReg">
				 <mark>{{nickErr}}</mark>
				 <br>
				 <br>
				 <label> Description:  </label>
				 <br>
				 <textarea class="form-control" rows="5" ng-model="description" id="descrReg"></textarea>
				 <mark>{{descErr}}</mark>
				 <br>
				 <br>
				 <label> Photo link:  </label>
				 <input ng-model="imageLink" type="text" id="linkReg">
				 <mark>{{photoErr}}</mark>
				 <br>
				 <br>
				 <button class="btn btn-warning" ng-click="registration()" type="submit" id="sign-up-reg">Sign-up</button>
				 
			 </div>
		   </div>
		   
		   <div class="col-xs-4"></div>
		   <div class="col-xs-4"></div>
		   
		 </div>
	</div>
</body>
</html>