<!DOCTYPE html>
<html>
<head>
<meta charset="windows-1255">
<title>Questions by topic</title>
<script type="text/javascript" src="angular.min.js"></script>
<script type="text/javascript" src="jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="appController.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<!-- CSS -->
<link href="css/index.css" rel='stylesheet' type='text/css'/>

</head>
<body background="images/italian_cafe.jpg" style="background-repeat:repeat">
	<div ng-app="funItaly" ng-controller="byTopicCont" ng-init="bringTopics()">
		
		<div class="container-fluid">
			<div class="row-xs-4"> 
				<nav class="navbar navbar-new" role="navigation">
				    
				        <!-- logo -->
				        <div class="navbar-header">
				            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar1"></button>
				            <a class="navbar-brand" href="main.html"><img src="images/logomin.png" alt="FunItaly" height=225% width=50% ></a>
				        </div>
				        <!-- menu -->
				        <div class="collapse navbar-collapse navbar-left" id="navbar1">
				            <ul class="nav navbar-nav" id="nav1">
				                <li><a href="main.html">Ask a question</a></li>
				                <li class="divider-vertical"></li>
								<li><a href="profile.html">Leaderboard</a></li>
								<li class="divider-vertical"></li>
								<li><a href="newest.html">Newest</a></li>
								<li class="divider-vertical"></li>
								<li><a href="existing.html">Existing</a> </li>
								<li class="divider-vertical"></li>
								<li class="active"><a href="byTopic.html">By topic</a></li>
								<li class="divider-vertical"></li>
								<li><a href="index.html">Logout</a></li>
				            </ul>
				        </div>
				</nav>
			</div>
			
			
			
			<div class="row-xs-4"> 
				
				<div class="col-xs-2"></div> 
				
				<div ng-repeat="topic in topics" class="col-xs-8 wrap"> 
					<button ng-click="bringQByTopic(topic);prevNextShow=!prevNextShow" class="Topic btn btn-warning">Topic: {{topic}}</button>
					<br><br>
					<div ng-show="prevNextShow" class="row-xs-4">  
						<button ng-click="prev(topic)" class="btn btn-warning">prev</button>
						<button ng-click="next(topic)" class="btn btn-warning">next</button>
						<br><br>	
					</div>
					<div ng-repeat="q in questions">
						<fieldset class="wrap2">		
							
							<span>Asked by: <a href="profile.html"><strong>{{q.nickname}}</strong></a></span>
							<span>On: {{q.time}}</span>
							<br></br>
							<span><span class="Topic">{{q.topic}}</span></span>
							<br></br>	
							<div>{{q.text}}</div>
							<br></br>
							<span>Votes: {{q.votes}}</span>
							<span>Rating: {{q.rating}}</span>
							
							<!-- votes -->
							<div class="row-xs-4">  
							    <br>
								<button ng-click="voteQuesUp(q.id,q.nickname)" class="btn btn-warning">Vote up</button>
								<button ng-click="voteQuesDown(q.id,q.nickname)" class="btn btn-warning">Vote down</button>
								<br><br>	
							</div>
							
						<!--	<button ng-click="answer($index)" ng-show="clickToAns">Answer</button> -->
						</fieldset>	
						<!-- New Reply -->
						<!--  <div ng-show="show" >{{q.qAnswer}}</div> -->
						<br>
					  	<button ng-click="getAnswers(q.id, $index)" class="btn btn-warning">display all answers</button> 
						<br><br>
						<div ng-repeat="a in q.answers" class="wrap3">Answered by: 					
							<a href="profile.html"> <strong>{{a.nickname}}</strong></a>
							<span>On: {{a.time}}</span>
							<br></br>
							<div>{{a.text}}</div>
							<br></br>
							<span>Votes: {{a.votes}}</span>
							
							<!-- votes -->
							<div class="row-xs-4">  
								<br>
								<button ng-click="voteAnsUp(q.id,a.id,a.nickname)" class="btn btn-warning">Vote up</button>
								<button ng-click="voteAnsDown(q.id,a.id,a.nickname)" class="btn btn-warning">Vote down</button>
								<br><br>	
							</div>
							
						</div>
						<br></br>
						<button ng-click="hide=!hide; q.answeredNow=true" ng-show ="show" class="btn btn-warning">Answer Question</button>
						<br></br>
						<fieldset ng-show="hide" >
							<textarea ng-model="q.qAnswer" class="form-control" rows="5" placeholder="Write your answer here..."></textarea>
							<button ng-click="publish(q.id, q.qAnswer, q.answeredNow, $index) ; q.qAnswer=''; q.answeredNow=false;hide=!hide" class="btn btn-warning">Publish</button>
						</fieldset>
					</div>
					<div ng-show="prevNextShow" class="row-xs-4">  
						<button ng-click="prev(topic)" class="btn btn-warning">prev</button>
						<button ng-click="next(topic)" class="btn btn-warning">next</button>
						<br><br>	
					</div>
				</div>
				
				<div class="col-xs-2"></div> 
				
			</div>
	
		</div>
			
	</div>
</body>
</html>