<!DOCTYPE html>
<html>
<head>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Main Page</title>
<script type="text/javascript" src="angular.min.js" >  </script>
<script type="text/javascript" src="jquery-1.11.3.min.js" >  </script>
<script type="text/javascript" src="appController.js" >  </script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<!-- CSS -->
<link href="css/index.css" rel='stylesheet' type='text/css'/>


</head>
<body background="images/portovenere-italy.jpg">
	<div ng-app="funItaly" ng-controller="mainCont"> 
			
					
	<!--		
		<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Logo -->
	<!--		<div class="navbar-header">
				<a href="main.html" class="navbar-brand">FunItaly</a>
			</div>
			
			<!-- Menu items -->
	<!--		<div>
				<ul class="nav navbar-nav">
					<li class="active"><a href="main.html">Ask a question</a></li>
					<li><a href="profile.html">Profile</a></li>
					<li><a href="newest.html">Newest</a></li>
					<li><a href="existing.html">Existing</a> </li>
					<li><a href="byTopic.html">By topic</a></li>
					<li><a href="index.html">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav> -->
		<div class="container-fluid">
			
			<div class="row-xs-4"> 
				<nav class="navbar navbar-new" role="navigation">
				    
				        <!-- logo -->
				        <div class="navbar-header">
				            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar1"></button>
				            <a class="navbar-brand" href="main.html"><img src="images/logomin.png" alt="FunItaly" height=225% width=50% ></a>
				        </div>
				        <!-- menu -->
				        <div class="collapse navbar-collapse navbar-left" id="navbar1">
				            <ul class="nav navbar-nav" id="nav1">
				                <li class="active"><a href="main.html">Ask a question</a></li>
				                <li class="divider-vertical"></li>
								<li><a href="profile.html">Leaderboard</a></li>
								<li class="divider-vertical"></li>
								<li><a href="newest.html">Newest</a></li>
								<li class="divider-vertical"></li>
								<li><a href="existing.html">Existing</a> </li>
								<li class="divider-vertical"></li>
								<li><a href="byTopic.html">By topic</a></li>
								<li class="divider-vertical"></li>
								<li><a href="index.html">Logout</a></li>
								
				            </ul>
				        </div>
				</nav>
			</div>
			
			<div class="row-xs-1"> 
			
			</div>
			
			<div class="row-xs-11">
				
				<div class="col-xs-2"></div> 
			 	
			 	<div class="col-xs-8"> 
					<div class="wrap">
						<h2>Hello, <a href="profile.html">{{nickname}}!</a></h2>
						<div class="input-group">
							<input type="text" ng-model="topic" class="form-control" aria-describedby="basic-addon2" placeholder="Topic..."/>
						</div>
						<br>
						<textarea  ng-model="question" class="form-control" rows="5" placeholder="Write your question..."></textarea>
						<br>
						<button ng-click="askQuestion()" class="btn btn-warning" >ask</button>
					</div>
				</div>
				
				<div class="col-xs-2"></div> 
				
			</div>
			
	</div>
</body>
</html>